* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    --purple:#910491;


}

body {
    background-color: var(--light-pink);
    background-image: url(../images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.container{
    background-color:var(--white);
    max-width: 800px;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
    border: 1px solid var(--dark-purple);
}
img,
svg {
    max-width: 100%;
    display: block;
}

.faq-headline{
    width: 100%;
    display: flex;
    gap: 20px;
    background-color:#fff;
    padding: 20px 20px;
    border-radius: 10px 10px 0 0;
}

.faq-headline h1 {
    font-size: 40px;
}

#accordion-btn {
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: var(--white);
    font-weight: 600;
    font-size: 16px;
}
#accordion-btn:hover {
    color: var(--purple);
}

.accordion-description {
    overflow: hidden;
    max-height: 0;
    transition: max-height 200ms ease;
}
.accordion-description p {
    font-size: 16px;
    line-height: 1.5rem;
    text-align: left;
    padding: 20px 10px;
    color: var(--grayish-purple);
}

.accordion-item:not(:last-child){
    border-bottom: 1px solid var(--light-pink);
}
.accordion-item .icons img{
    width: 30px;
    height: 30px;
}

.accordion-item .icons .minus-icon{
    display: none;
}



